@use '../../sassStyles/_mixins.scss' as *;

.content-container {
    @include flex(column, space-between, flex-start );
    width: 100%;
}

.card-container {
    @include flex(column, space-between, flex-start);
    padding: 10px;
    box-shadow: 0px 0px 12px 0px #0000000D;
    border-radius: 16px;
}

.details {
    font-size: 12px;
}

.price-title {
    font-size: 18px;
    font-weight: 600;
}