@use '../../sassStyles/variables' as *;

.button {
    background-color:$light-blue;
    border-radius: 8px;
    border: none;
    padding: 6px 10px;
    color: $secondary-color;
    font-size: 16px;
}