/* ImageSlider.css */
.slider-container {
    padding-top: 20px;
    overflow: hidden;
    width: 100%;
    height: 400px;
    /* Adjust the width as needed */
    
    margin: 0 auto;
}

.slider-wrapper {
    display: flex;
    animation: slide 40s linear infinite;
    height: 100%;
    /* Adjust the animation duration as needed */
}

.slider-slide {
    min-width: 100%;
    box-sizing: border-box;
    height:100%;
}

.slider-slide img {
    width: 100%;
    height: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}