@use '../sassStyles/mixins' as *;
@use '../sassStyles/variables' as colors;

.container {
    width: 100%;
    @include flex;
    padding-top: 20px;
}

p {
    cursor:pointer
}

.title {
    color: colors.$primary-color;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
}