@use '../sassStyles/variables';

@mixin flex($direction: row, $justify:space-between, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items:$align;
    flex-wrap: wrap;
}

@mixin smText($color:$secondary-color){
    font-size: 14px;
    color: $color;
    font-weight: 400;
}
